---
import i18next from 'i18next';

const lang = i18next.language as `en` | `he`;
const href = lang === `en` ? `/#` : `/${lang}/#`;
---

<div
	role={`banner`}
	class={`
	hidden
	ps-1
	md:block
	`}
>
	<a
		href={href}
		class={`
		focus-visible:ring-gradient-1
		active:ring-gradient-1
		flex
		rounded-md
		p-1
		focus-visible:outline-none
`}
	>
		<svg
			class={`
				ring-gradient-1
				rounded-full
				d-12
				`}
			xmlns={`http://www.w3.org/2000/svg`}
			viewBox={`0 0 400 400`}
		>
			<path
				class={`fill-base-content`}
				d={`M190 9h-1l-3 1-1 1h-3l-1 1-1 1v1h-2a11 11 0 0 0-2 3h-1l-1 2h-1v1l-2 2-1 1v1l-1 1v1h-1l-1 1h-1l-1 2h-1v1l-1 1h-1v1h-2l-1 1v1h-1l-2 1-1 1h-2l-1 1c0-1 0-1 0 0h-2l-1 1-1 1-1 1h-1l-1 1h-1l-1 1h-1l-2 2h-1v1l-2 1v1l-2 1h-4l-1 1h1-3l-1 1-1 2-1 1-2 1-1 1v1l-1 1-1 1v2h-1v-1l-1 1v1c0 1 0 2-1 1l-1 1-1 1a74 74 0 0 1 0 1v3h-1v1l-1 1v2l-1 1v1l1 1h1v1l1 1-1 1h1l1-1v4h-1 1l-1 1v1h-1l-1 1v1h-1v2l-1 1v3h-1v7l1 2v10l1 1v3l1 1v2l1 1v1l1 1v3l-1 1v1l1 1v1l2 1v1l2 2 1 1 1 1v1h-1v1l1 1 1 2 1 1v1l1 1v1a179 179 0 0 0 1 3l1 2 1 1v1l1 1v12a168 168 0 0 0 0 20v3a167 167 0 0 0 1 25h1v3h1v3a65 65 0 0 0 6 11l1 1v1l1 1 1 2a23 23 0 0 0 2 2l2 2 1 2 2 2 2 8v4l-1 3h-1l-1 1-1 1h-1v1h-1l-1 1-1 1a34 34 0 0 0-5 4 59 59 0 0 1-10 7 9 9 0 0 1-3 2l-1 1h-1v1l-1 1h-1l-1 1h-1l-1 1h-1l-2 2h-1l-1 1-2 1-1 1h-2v1h-1l-1 1h-2l-1 1a6 6 0 0 1-2 1 23 23 0 0 1-5 2 22 22 0 0 1-2 1l-2 1h-2v1h-2l-1 1h-2l-1 1h-1l-1 1h-1v1a58 58 0 0 0-6 4 24 24 0 0 0-5 6 11 11 0 0 0-2 2 19 19 0 0 0-1 2h-1v1l-1 1-1 2-1 1v2h-1v1l-1 1a46 46 0 0 0-2 6v1l-1 1v2l-1 1a40 40 0 0 1-1 3v3l-1 1v4h-1v3a41 41 0 0 1-1 6l-1 1v4l-1 1v5a128 128 0 0 1-1 7v6l-1 2v10h-1v1a49 49 0 0 0 0 12v1h354v-73h-1l-2-1-2-1h-2l-1-1h-2v-1l-2-1-5-5h-5l-1 1h-2v-1l-1-1v-2l-1-1v-1l-1-1v-1a9 9 0 0 0-3-3h-3l-3-2-1-1h-1l-1-1v-1h-1l-1-1a11 11 0 0 0-2-1l-1-1h-2v-1h-2l-1-1h-1l-4-1-4-1-1-1h-1v-1a11 11 0 0 0-4-3l-1-1-2-1v-1l-1-1-1-1v-1h-1a19 19 0 0 0-3-4h-2v-1h-1l-1-1h-1l-1-1h-1v-1h-2l-1-1a261 261 0 0 1-7-2h-1c-1 0 0 0 0 0h-1v-1h-2v-1h-1l-1-1-5-5a155 155 0 0 0-9-8h-1l-2-1h-1l-1-1h-1l-3-3-1-1-1-1h-1l-1-1v-1h-1l-1-1h-1v-1h-2v-1h-2v-1h-1l-2-1h-2c1-1 0-1-1-1a124 124 0 0 1-6-2l-2-2-1-1v-1l-1-1v-6l-1-1v-2a454 454 0 0 0 1-8l1-1v-1h1v-1l1-3 1-1v-2l1-1v-2l1-1v-2l2-2 3-2 1-1 1-1 1-1v-1l1-3h1v-1l1-1a44 44 0 0 0 3-7h1v-2l1-1v-1l1-1v-1l1-2v-1l1-1v-2l1-1v-2l-1-2v-5l-1-2v-2l-1-2v-2l-1-1v-1l-2-2v-1a20 20 0 0 0 4-4v-1l1-1 1-1 1-1 1-1v-1l1-1v-1l1-1v-1h1l1-2 1-2 1-1v-3l2-1v-3l1-1v-1l2-1 1-1v-1l1-1v-1l1-2v-4l1-1 1-2-1-2 1-2v-1l1-2v-6h-1v-1l-1-4v-1l-1-1-1-1-1-1v-1l-1-1-1-1v-1l-1-1v-2h-1v-5l-1-1v-3h-1l-1-1h-1l1-1h-1v-3h-1v-6l-1-1v-1l-1-1v-1l-1-1h-1l-1-1v-1l-1 1v-2l-1-1h1l-1-1h-1l-1-1h1v-2l-1-1-1-2v1l-1-1v-1h-1l1-1h-1v-1l-1-1h1-1l-1-1-1-1v-1l-1-1-1-1-1-1h-1l-1-1-1-1-2-1h-1l-1-1-3-1h-1l-1-1h-1l-1-1h-2l-2-2h-1l-1-1h-1v-1l-2-1h-1l-1-1-2-1h-1a10 10 0 0 0-2-1l-2-1h-1v-1h-5l-4-1h-7l-1-1h-1l-1 1v-1h-1l-1-1h-13l-1 1h-2l-1-1h-1l-1-1h-1l-1-1h-1`}
			 />
		</svg>
	</a>
</div>
